
.main-page-wrapper{
    width:100%;
    margin-bottom: 60px;
}

.main-filter-wrapper{
    padding:10px 0 20px 0 ;
    display: flex;
    justify-content: center;
}

/* place component css  */

.places-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 15px 10px  ;
    
}

.places-img-wrapper img{

    max-width: 100px;
    max-height: 80px;
    border-radius: 10px;
}

.places-text-wrapper{
    font-weight:300;
    font-size: 14px;
}



/* login css */
.login-page-wrapper{

}

/* place-detail css */
.place-detail-wrapper{
    padding: 15px 10px;
}

.place-first-line{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;

}

.place-tel-wrapper a {
    margin-left : 5px;
    text-decoration: none ;
    color: #000;
    font-size: 16px;
}

.place-address-wrapper{
    display: flex;
}

.place-detail-header{
    display: flex;
    justify-content: space-between;
}
.place-detail-header .FontAwesomeIcon {
    margin-top:10px;
}

.place-detail-header h2{
    font-family: "Jost", sans-serif;
}

.place-img-wrapper{
    display:flex;
    min-width: 100%;
    overflow-x:scroll;
}

.name-saved-wrapper{
    display: flex;
    justify-content: space-between;
}


.detail-icon-wrapper{
    padding:4px;
}

.detail-icon-wrapper svg{
    padding:5px 6.5px;
    border: 1.3px solid #000;
    border-radius: 1000px;
    width : 20px;

}

.narrative-info-wrapper{
    padding: 10px 0px;
}