
.main-page-wrapper{
    width:100%;
    margin-bottom: 60px;
    background-image: url('../assets/img/background.png');
    background-repeat: no-repeat;
    background-size: 100px;
    z-index: 999;

}

.main-filter-wrapper{
    padding:10px 0 20px 0 ;
    display: flex;
    justify-content: center;
}

/* place component css  */

.places-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 15px 10px  ;
    
}

.places-img-wrapper img{

    max-width: 100px;
    min-width : 100px;
    max-height: 80px;
    border-radius: 10px;
    overflow: hidden;
}

.places-text-wrapper{
    font-weight:300;
    font-size: 14px;
}


/* place-detail css */
.place-detail-wrapper{
    padding: 0px 10px;
    margin-bottom: 70px;
}

.detail-img-wrapper{
    display: flex;
    justify-content: center;
    height: 210px;
    width : 100%;
}


.blur-img-wrapper{
    filter: opacity(0.3) drop-shadow(0 0 0 #000);
}

.blur-image-text{
    width : 100%;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate( -50%, -50% );
    color : black;
    text-align: center;
}


.add-review{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    background-color: #f0f0f0;
    color: #333;
    font-size: 14px;
    text-align: center;
    border: 1px dashed #ccc;
}

.place-first-line{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;

}

.place-tel-wrapper a {
    margin-left : 5px;
    text-decoration: none ;
    color: #000;
    font-size: 16px;
}

.place-address-wrapper{
    display: flex;
}


.detail-map-wrapper{
    margin: 10px 0;
    align-items: center;
}
.place-detail-header{
    display: flex;
    justify-content: space-between;
}
.place-detail-header .FontAwesomeIcon {
    margin-top:10px;
}

.place-detail-header h2{
    font-family: "Jost", sans-serif;
}

.place-img-wrapper{
    display:flex;
    min-width: 100%;
    overflow-x:scroll;
}

.name-saved-wrapper{
    display: flex;
    justify-content: space-between;
}


.detail-icon-wrapper{
    padding:4px;
}

.detail-icon-wrapper svg{
    padding:5px 6.5px;
    border: 1.3px solid #000;
    border-radius: 1000px;
    width : 20px;

}

.narrative-info-wrapper{
    padding: 10px 0px;
}